html{
    background-color:white;
}

#prod1 {
    
    max-width: 150px;
    max-height: 150px;
}

#prod2 {
    max-width: 150px;
    max-height: 150px;
}

span {
    font-size: larger;
    font-family: 'Franklin Gothic ', 'Arial Narrow', Arial, sans-serif;
}

#header {
    
    background-color: bisque;
    width: auto;
    border-style: solid;
    border-radius: 1rem;
    padding: 1rem;
}


#header p {
    position: relative;
    display: flex;
    justify-content: space-between;
}

#prod1_desc, #prod2_desc{
    
    width:40%;
    height: 150px;
    display: inline-block;
    vertical-align: top;
}

#product1_whole, #product2_whole{
    border-style: solid;
    border-radius: 1rem;
        
    background-color: rosybrown;

} 